# Data Science Notebook


Introduction
This notebook covers fundamental concepts in data science. It includes an overview of programming languages, libraries, and tools, along with some basic arithmetic operations.

Python
- R
- SQL
- Julia
- Scala

NumPy
- Pandas
- Matplotlib
- Scikit-Learn
- TensorFlow
- PyTorch

| Tool | Description |
|------|------------|
| Jupyter Notebook | Interactive computing environment |
| RStudio | Development environment for R programming |
| Apache Spark | Big data processing framework |
| Tableau | Data visualization tool |
| Google Colab | Cloud-based Python environment |

## Arithmetic Expressions
Arithmetic operations are used for mathematical calculations. Examples include:
- Addition: 3 + 5 = 8
- Subtraction: 10 - 4 = 6
- Multiplication: 6 * 7 = 42
- Division: 15 / 3 = 5

In [4]:
a = 6
b = 4
sum_result = a + b
product_result = a * b
print(f"Sum: {sum_result}")
print(f"Product: {product_result}")

Sum: 10
Product: 24

In [5]:
minutes = 120
hours = minutes / 60

print(f"{minutes} minutes is equal to {hours} hours.")

120 minutes is equal to 2.0 hours.

- Learn data science tools
- Perform data analysis
- Build machine learning models
- Understand data visualization techniques

This notebook was prepared by **Baki**